* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Montserrat', sans-serif;
    /* background: rgb(0,4,40) no-repeat;
    background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(137,52,37,1) 100%) no-repeat; */
    user-select: none;
    background-color: black;
    background-image: url(../asset/clock-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.navbar {
    display: flex;
    height: 80px;
    font-size: 1.2rem;
    background: none;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    position: sticky;
    z-index: 999;
    background: none;
}

.logo {
    height: 100%;
    background: none;
}

#logo {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 2.5rem;
    text-decoration: none;
    color: #fffbb9;
    background: none;
}

#logo:hover {
    text-shadow: 0 0 10px #fffbb9;
}

.navbar__menu {
    display: none;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 80px;
    flex-direction: column;
    gap: 10px;
    background: transparent;
}

.bar {
    width: 50px;
    border: 2px solid white;
}

.menu {
    display: flex;
    gap: 100px;
    background: none;
}

.menu__list {
    text-decoration: none;
    background: none;
    list-style-type: none;
}

.menus {
    background: none;
    text-decoration: none;
    color: white;
}

.menus:hover {
    color: #fffbb9;
}

/* main section in topic */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: auto;
    top: 0;
}

.topic__title {
    display: flex;
    width: 100%;
    height: auto;
    color: #fffbb9;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background: none;
    text-align: center;
    position: relative;
    z-index: 999;
    text-shadow: 0 0 5px #fffbb9;
    font-weight: 800;
}

.topic__image {
    width: 500px;
    margin: auto 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px white;
}

span {
    font-size: 5rem;
    background: none;
}

.description {
    color: #fffbb9;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    text-shadow: 0 0 50px #fffbb9;
}

.topics {
    position: relative;
    top: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    flex-wrap: wrap;
    background: none;
    cursor: pointer;
}

.topic__image.showLeft {
    animation: fadedLeft 1s ease;
    opacity: 1;
}

.topic__image.showRight {
    animation: fadedRight 1s ease;
    opacity: 1;
}

.description.showLeft {
    animation: fadedLeft 1s ease;
    opacity: 1;
    background: none;
}

.description.showRight {
    animation: fadedRight 1s ease;
    opacity: 1;
    background: none;
}


@keyframes fadedLeft {
    from {
        transform: translateX(-150px);
        opacity: 0;
        background: none;
    }
}

@keyframes fadedRight {
    from {
        transform: translateX(150px);
        opacity: 0;
        background: none;
    }
}



@media screen and (max-width: 960px){

    .navbar__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin: 0;
        padding: 0;
        position: sticky;
        z-index: 999;
        width: 100vw;
    }

    .logo {
        left: 25px;
        position: absolute;
    }

    .navbar__menu {
        right: 25px;
        position: absolute;
    }
    
    .menu {
        display: table;   
        align-items: center;
        position: absolute;
        text-align: center;
        /* top: 70px;  */
        top: -1500px;
        width: 90vw;
        transition: all 0.5s ease;
    }

    .menu.active {
        top: 70px;
        transition: all 0.5s ease;
        background: rgba( 139, 87, 42, 0.15 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 100px );
        -webkit-backdrop-filter: blur( 0px );
        border-radius: 10px;
    }

    #mobile-menu {
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .bar {
        transition: all 0.5s ease;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform-origin: center;
        transform: translateY(13px) rotate(45deg);
        transition: all 0.5s ease;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
        transition: all 0.5s ease;
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform-origin: center;
        transform: translateY(-13px) rotate(-45deg);
        transition: all 0.5s ease;
    }

    .menu__list {
        margin: 25px;
    }

    .navbar__menu {
        display: flex;
    }

    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: auto;
        top: 0;
        margin: 50px 0;
        gap: 50px;
    }
    
    .topic__title {
        display: flex;
        width: 100%;
        height: auto;
        color: #fffbb9;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
        background: none;
        text-align: center;
        position: relative;
        z-index: 100;
        text-shadow: 0 0 5px #fffbb9;
        font-weight: 800;
    }
    
    .topic__image {
        width: 80vw;
        border-radius: 20px;
        box-shadow: 0 0 20px white;
        grid-area: topic__image;
    }
    
    span {
        font-size: 5rem;
        background: none;
    }
    
    .description {
        color: #fffbb9;
        text-align: center;
        font-size: 2rem;
        font-weight: 900;
        text-shadow: 0 0 50px #fffbb9;
        grid-area: description;
    }
    
    .topics {
        position: relative;
        /* top: 120px; */
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-areas: "topic__image" "description";
        width: 100%;
        height: auto;
        margin: 0 auto;
        background: none;
        gap: 20px;
    }
    
    .topic__image.showLeft {
        animation: none 0s ease;
        opacity: 1;
        background: none;
    }
    
    .topic__image.showRight {
        animation: none 0s ease;
        opacity: 1;
        background: none;
    }
    
    .description.showLeft {
        animation: none 0s ease;
        opacity: 1;
        background: none;
    }
    
    .description.showRight {
        animation: none 0s ease;
        opacity: 1;
        background: none;
    }
    
    
    @keyframes fadedLeft {
        from {
            transform: translateX(-150px);
            opacity: 0;
            background: none;
        }
    }
    
    @keyframes fadedRight {
        from {
            transform: translateX(150px);
            opacity: 0;
            background: none;
        }
    }
    
}